/* 
░░ ███████████████░░░ ███████████████░░░ ███░░░░░░░ ███░░░ ███████████████░░░░░░░░░
 ░█       ███     ░░░█ ███           ░░░█   ███░░░ ███ ░░░█       ███     ░░░░░░░░░░
  ░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░░░░░░░░░░█   ██████ ░░░░░░░░░░░█ ███░░░░░░░░░░░░░░░
   ░░░░░░░█ ███░░░░░░░░█ ███████████░░░░░░░░░░█  ████░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░░░
    ░░░░░░░█ ███░░░░░░░░█ ███       ░░░░░░░░░░░░█ ████░░░░░░░░░░░░░█ ███░░░░░ ██████░░░
     ░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░░░░░░░░░░░░░ ██████░░░░░░░░░░░░█ ███░░░░█      ░░░░
      ░░░░░░░█ ███░░░░░░░░█ ███░░░░░░░░░░░░░░░░░ ███    ███░░░░░░░░░░█ ███░░░░░░░░░░░░░░░
       ░░░░░░░█ ███░░░░░░░░█ ███████████████░░░ ███ ░░░█   ███░░░░░░░░█ ███░░░░░░░░░░░░░░░
        ░░░░░░░█   ░░░░░░░░░█               ░░░█   ░░░░░░░█   ░░░░░░░░░█   ░░░░░░░░░░░░░░░░
░ ███░░░░░░░░░░░░░░░ ███████████████░░░ ███░░░░░░░░ ███░░░ ███████████████░░░ ███░░░░░░░░░░░░░░░░░░ ███████████░░░
 █ ███░░░░░░░░░░░░░░█ ███           ░░░█ ███░░░░░░░█ ███░░█ ███           ░░░█ ███░░░░░░░░░░░░░░░░ ███         ███░
  █ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░░█  ███░░░░░░ ███░░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░░░█  ███░░░░░░█   ░░
   █ ███░░░░░░░░░░░░░░█ ███████████░░░░░░░█  ███░░░░ ███░░░░█ ███████████░░░░░░█ ███░░░░░░░░░░░░░░░░█    ███░░░░░░░░░
    █ ███░░░░░░░░░░░░░░█ ███       ░░░░░░░░░█  ███░░ ███░░░░░█ ███       ░░░░░░░█ ███░░░░░░░░░░░░░░░░░░░█    ███░░░░░░
     █ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░░░░░█  ███ ███░░░░░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░░░░░░░░░░█    ███░░░
      █ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░░░░░░█  █████░░░░░░░█ ███░░░░░░░░░░░░░░█ ███░░░░░░░░░░░░░░░ ███░░░░░░█  ███░░
       █ ███████████████░░█ ███████████████░░░░░░░█  ███░░░░░░░░█ ███████████████░░█ ███████████████░░█   ███████████ ░░░
        █               ░░░█               ░░░░░░░░░█   ░░░░░░░░░█               ░░░█               ░░░░░█           ░░░░░
*/

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * PAGE TITLE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.lblb-page-title h1,
.lblb-page-title h2,
.lblb-page-title h3,
.lblb-page-title h4,
.lblb-page-title h5,
.lblb-page-title h6,
.lblb-page-title span {
  font-family: 'Libe-Sans';
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 1007px) {
  .lblb-page-title h1,
  .lblb-page-title h2,
  .lblb-page-title h3,
  .lblb-page-title h4,
  .lblb-page-title h5,
  .lblb-page-title h6,
  .lblb-page-title span {
    font-size: 3.75rem;
    line-height: 3.5rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-page-title h1,
  .lblb-page-title h2,
  .lblb-page-title h3,
  .lblb-page-title h4,
  .lblb-page-title h5,
  .lblb-page-title h6,
  .lblb-page-title span {
    font-size: 2.75rem;
    line-height: 2.5rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * INTER TITLE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.lblb-inter-title h1,
.lblb-inter-title h2,
.lblb-inter-title h3,
.lblb-inter-title h4,
.lblb-inter-title h5,
.lblb-inter-title h6,
.lblb-inter-title span {
  font-family: 'Libe-Sans';
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 800;
  color: #212121;
}

@media screen and (max-width: 1007px) {
  .lblb-inter-title h1,
  .lblb-inter-title h2,
  .lblb-inter-title h3,
  .lblb-inter-title h4,
  .lblb-inter-title h5,
  .lblb-inter-title h6,
  .lblb-inter-title span {
    font-size: 2.75rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-inter-title h1,
  .lblb-inter-title h2,
  .lblb-inter-title h3,
  .lblb-inter-title h4,
  .lblb-inter-title h5,
  .lblb-inter-title h6,
  .lblb-inter-title span {
    font-size: 2rem;
    line-height: 2rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * OVERHEAD
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

 .lblb-overhead span {
  font-family: 'Libe-Sans';
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (max-width: 1007px) {
  .lblb-overhead span {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-overhead span {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * HAT
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

 .lblb-hat em {
  display: block;
  font-family: 'Synthese';
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-style: initial;
  color: #212121;
}

@media screen and (max-width: 1007px) {
  .lblb-hat em {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-hat em {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * SECTION TITLE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.lblb-section-title h1,
.lblb-section-title h2,
.lblb-section-title h3,
.lblb-section-title h4,
.lblb-section-title h5,
.lblb-section-title h6,
.lblb-section-title span {
  font-family: 'Libe-Sans';
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  color: #212121;
}

@media screen and (max-width: 1007px) {
  .lblb-section-title h1,
  .lblb-section-title h2,
  .lblb-section-title h3,
  .lblb-section-title h4,
  .lblb-section-title h5,
  .lblb-section-title h6,
  .lblb-section-title span {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-section-title h1,
  .lblb-section-title h2,
  .lblb-section-title h3,
  .lblb-section-title h4,
  .lblb-section-title h5,
  .lblb-section-title h6,
  .lblb-section-title span {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * BLOCK TITLE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.lblb-block-title h1,
.lblb-block-title h2,
.lblb-block-title h3,
.lblb-block-title h4,
.lblb-block-title h5,
.lblb-block-title h6,
.lblb-block-title span {
  font-family: 'Libe-Sans';
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 800;
  color: #212121;
}

@media screen and (max-width: 1007px) {
  .lblb-block-title h1,
  .lblb-block-title h2,
  .lblb-block-title h3,
  .lblb-block-title h4,
  .lblb-block-title h5,
  .lblb-block-title h6,
  .lblb-block-title span {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-block-title h1,
  .lblb-block-title h2,
  .lblb-block-title h3,
  .lblb-block-title h4,
  .lblb-block-title h5,
  .lblb-block-title h6,
  .lblb-block-title span {
    font-size: 1.25rem;
    line-height: 1rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * PARAGRAPH TITLE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.lblb-paragraph-title h1,
.lblb-paragraph-title h2,
.lblb-paragraph-title h3,
.lblb-paragraph-title h4,
.lblb-paragraph-title h5,
.lblb-paragraph-title h6,
.lblb-paragraph-title span {
  font-family: 'Synthese';
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #212121;
}

.lblb-paragraph-title_literary h1,
.lblb-paragraph-title_literary h2,
.lblb-paragraph-title_literary h3,
.lblb-paragraph-title_literary h4,
.lblb-paragraph-title_literary h5,
.lblb-paragraph-title_literary h6,
.lblb-paragraph-title_literary span {
  font-family: 'Georgia';
}

@media screen and (max-width: 1007px) {
  .lblb-paragraph-title h1,
  .lblb-paragraph-title h2,
  .lblb-paragraph-title h3,
  .lblb-paragraph-title h4,
  .lblb-paragraph-title h5,
  .lblb-paragraph-title h6,
  .lblb-paragraph-title span {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-paragraph-title h1,
  .lblb-paragraph-title h2,
  .lblb-paragraph-title h3,
  .lblb-paragraph-title h4,
  .lblb-paragraph-title h5,
  .lblb-paragraph-title h6,
  .lblb-paragraph-title span {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * PARAGRAPH
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.lblb-paragraph {
  font-family: 'Synthese';
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #212121;
}

.lblb-paragraph_literary {
  font-family: 'Georgia';
}

@media screen and (max-width: 1007px) {
  .lblb-paragraph {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-paragraph {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * SLUG
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.lblb-slug {
  padding: .3rem .5rem .2rem;
  background: #e91845;
  font-family: 'Libe-Sans-Semicondensed';
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #FFFFFF;
}

@media screen and (max-width: 1007px) {
  .lblb-slug {
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-slug {
    font-size: 1rem;
    line-height: 1rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * ANNOTATION TITLE
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.lblb-annotation-title h1,
.lblb-annotation-title h2,
.lblb-annotation-title h3,
.lblb-annotation-title h4,
.lblb-annotation-title h5,
.lblb-annotation-title h6,
.lblb-annotation-title span {
  font-family: 'Libe-Sans-Semicondensed';
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #212121;
}

@media screen and (max-width: 1007px) {
  .lblb-annotation-title h1,
  .lblb-annotation-title h2,
  .lblb-annotation-title h3,
  .lblb-annotation-title h4,
  .lblb-annotation-title h5,
  .lblb-annotation-title h6,
  .lblb-annotation-title span {
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-annotation-title h1,
  .lblb-annotation-title h2,
  .lblb-annotation-title h3,
  .lblb-annotation-title h4,
  .lblb-annotation-title h5,
  .lblb-annotation-title h6,
  .lblb-annotation-title span {
    font-size: 1rem;
    line-height: 1rem;
  }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * ANNOTATION
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.lblb-annotation {
  font-family: 'Synthese';
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 400;
  color: #212121;
}

.lblb-annotation_literary {
  font-family: 'Georgia';
}

@media screen and (max-width: 1007px) {
  .lblb-annotation {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .lblb-annotation {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}
